@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shalimar&display=swap');


body {
    min-height: 100vh;
    padding: 2em;
    background: #33539F;
    background: radial-gradient(circle, #6b23de  40%, #22c1c3 90%);
    color:black;   
    font-family: 'Caveat', cursive;
    font-size: 18px;
    border: hidden black;
}

#img1 {
    height: 300px;
    width: 40%;
    float: left;
}
img{
    max-width: 100%;
    max-height: 100%;
    border: hidden black;
    padding: 0em 1em 0em 2em;
    opacity: 0.8;
    filter: brightness(90%);
}

header {
    width: 100%;
    height: 100px;
    color: black;
    padding: 0em 0em 4em 0em;
    margin: 1em 0em;
    font-family:'Shalimar', cursive;
    font-size:30px;
    font-style: normal;
    border: hidden black;
    justify-content: center;

}
#head{
    font-family: 'Caveat', cursive;
    float: right;
    border: 0px hidden black;
    width: 60%;
    text-align: center;

}

#titulo1{
font-size: 100px;
}

#p1{
    text-align: center;
    font-size: 30px;

}


#root {
    width: 58%;
    height: 70%;
    font-size: 20px;
    color: aquamarine;
    border:3px groove aquamarine;
    display:inline-block;
    text-align: center;
    justify-content: center;
}
#mensaje {
    width: 70%;
    height: 40px;
    outline: none;
    color: aquamarine;
    background-color: #303030;
    font-size: 30px;
}

#clave {
    width: 8%;
    height: 30px;
    background-color: #303030;
    outline: none;
    color: aquamarine;
}

#mensaje2 {
    width: 70%;
    height: 40px;
    outline: none;
    background-color: #303030;
    color: aquamarine;
    font-size: 30px;

}

#botones{
    padding: 1.5rem 4.5rem;

}

p {
    max-width: 100%;
    max-height: 100%;
    align-items: center;
    justify-content: center;
}
section {

    width: 40%;
    height: 60%;
    text-align: center;
    border: hidden black;
    justify-content: center;
    font-size: 20px;
    padding: 0em;
    display: inline-block;

 
    
}

section h1{
    font-size: 30px;


}

main{
    height: calc(100vh - 100px);
    border: hidden black;
    padding: 8em 1em 0em 1em;
    margin: 0em;

}

footer{
    width: 100%;
    height: 100px;
border: hidden black;
padding: 1em 0em;
margin: 0em;
justify-content: center;
text-align: center;
color: rgba(0, 0, 0, 0.7);
font-size: 17px;
}